<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title}) ">
    <title>首页</title>
</head>
<body>
<!--导航-->
<div th:replace="_fragment :: nav(1)"></div>
<!--中间内容-->
<div class="m-padded-tb-large m-container">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边博客内容-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h2 class="ui teal header">博客</h2>
                        </div>
                        <div class="right aligned column">
                            共<h3 class="ui orange header m-inline-block m-text-thin" th:text="${blogcount}">14</h3>篇
                        </div>
                    </div>
                </div>
                <!--内容-->
                <div class="ui teal attached segment">
                    <!-- <a th:href="@{/to/blog(blogId=${blog.blogId})}" th:if="${blogs!=null}" th:each="blog:${blogs}">-->
                    <div class="ui padded vertical segment m-padded-tb-big" th:if="${blogs!=null}"
                         th:each="blog:${blogs}">
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header" th:text="${blog.title}">你真的理解什么是财富吗？</h3>
                                <p class="m-text" th:text="'&nbsp;&nbsp;&nbsp;&nbsp;'+${blog.blogDescribe}">
                                    和角度看是否还款时间回到房间看是否合适是东方航空水电费看就是打开</p>
                                <div class="ui grid">
                                    <div class="twelve wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="../static/image/bg.jpg" th:src="@{/image/cat.jpg}"
                                                     alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header">感谢老铁送来的火箭</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span class="ui middle aligned"
                                                                                   th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}"></span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span class="ui middle aligned"
                                                                              th:text="${blog.view}"></span>
                                            </div>
                                            <div class="item">
                                                <i class="thumbs up icon"></i><span class="ui middle aligned"
                                                                                    th:text="${blog.well}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned four wide column">
                                        <a th:href="@{/to/blog(blogId=${blog.blogId})}" target="_blank"
                                           class="ui teal basic label m-padded-mini">查看内容</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a>
                                    <img src="/image/goodluck.jpg"
                                         class="ui rounded image"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--</a>-->
                    <span id="more">

                </span>
                </div>

                <!--底部-->
                <div class="ui secondary bottom attached middle aligned center aligned segment">
                    <input type="hidden" value="1" id="morecount">
                    <span class="ui fluid button" onclick="findmore()" id="moreButton">点击查看更多</span>
                </div>
            </div>
            <!--右边标签-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a th:href="@{/to/types(typeId=0)}" class="" target="_blank">more <i
                                        class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui vertical fluid menu">
                            <a th:href="@{/to/types(typeId=${type.typeId})}" class="item"
                               th:if="${types!=null&&typeStat.index<7}" th:each="type:${types}">
                                <span th:text="${type.typeName}"></span>
                                <div class="ui teal basic label left pointing" th:text="${type.blogNum}">13</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a th:href="@{/to/tags(tagId=0)}" target="_blank">more <i
                                        class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a th:href="@{/to/tags(tagId=${tag.tagId})}"
                           class="ui teal basic label left pointing m-margin-tb-tiny"
                           th:if="${tags!=null&&tagStat.index<15}" th:each="tag:${tags}">
                            <span th:text="${tag.tagName}" class="ui middle aligned"></span>
                            <div class="detail" th:text="${tag.blogNum}">13</div>
                        </a>
                    </div>
                </div>
                <!--最新推荐-->
                <!--<div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="column">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                </div>-->
                <!--二维码-->
                <h4 class="ui horizontal divider header m-margin-top-large">
                    扫码关注我
                </h4>
                <div class="ui card centered" style="width: 10em">
                    <img src="/image/WX.png" alt="" class="ui image rounded">
                </div>

            </div>
        </div>
    </div>
</div>
<!--底部fotter-->
<div th:replace="_fragment :: footer"></div>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });

    function findmore() {
        var morecount = $('#morecount').val();
        $.ajax({
            url: "/Blogfindmore",
            type: "post",
            data: {morecount: morecount},
            success: function (data) {
                if (data.length < 5) {
                    $('#moreButton').text("没有更多博客");
                    $('#moreButton').addClass("disabled");
                }
                addBlogs(data);
                $('#morecount').val(Number(morecount) + 1);
            }
        })
    }

    function addBlogs(data) {
        html = "";
        for (var i = 0; i < data.length; i++) {
            var date = new Date(data[i].createTime);
            var month = date.getMonth();
            var day = date.getDate();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            html = html +
                "                    <div class=\"ui padded vertical segment m-padded-tb-big\">\n" +
                "                        <div class=\"ui stackable grid\">\n" +
                "                            <div class=\"eleven wide column\">\n" +
                "                                <h3 class=\"ui header\">" + data[i].title + "</h3>\n" +
                "                                <p class=\"m-text\">" + data[i].blogDescribe + "</p>\n" +
                "                                <div class=\"ui grid\">\n" +
                "                                    <div class=\"twelve wide column\">\n" +
                "                                        <div class=\"ui horizontal link list\">\n" +
                "                                            <div class=\"item\">\n" +
                "                                                <img src=\"/image/cat.jpg\" " +
                "                                                     alt=\"\" class=\"ui avatar image\">\n" +
                "                                                <div class=\"content\">\n" +
                "                                                    <a href='' class=\"header\">感谢老铁送来的火箭</a>\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                            <div class=\"item\">\n" +
                "                                                <i class=\"calendar icon\"></i><span class=\"ui middle aligned\">" + date.getFullYear() + "-" + month + "-" + day + "</span>\n" +
                "                                            </div>\n" +
                "                                            <div class=\"item\">\n" +
                "                                                <i class=\"eye icon\"></i><span class=\"ui middle aligned\">" + data[i].view + "</span>\n" +
                "                                            </div>\n" +
                "                                            <div class=\"item\">\n" +
                "                                                <i class=\"thumbs up icon\"></i><span class=\"ui middle aligned\">" + data[i].well + "</span>\n" +
                "                                            </div>\n" +
                "                                        </div>\n" +
                "                                    </div>\n" +
                "                                    <div class=\"right aligned four wide column\">\n" +
                "                                        <a href=\"/to/blog?blogId=" + data[i].blogId + "\" target=\"_blank\" class=\"ui teal basic label m-padded-mini\">查看内容</a>\n" +
                "                                    </div>\n" +
                "                                </div>\n" +
                "                            </div>\n" +
                "                            <div class=\"five wide column\">\n" +
                "                                <a href=\"#\" target=\"_blank\">\n" +
                "                                    <img src=\"/image/goodluck.jpg\"\n" +
                "                                         class=\"ui rounded image\"/>\n" +
                "                                </a>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                    </div>\n"
        }
        $('#more').append(html);
    }
</script>
</body>
</html>